@import url('https://fonts.googleapis.com/css?family=Exo+2');

body{
    /* font-family: 'Exo 2', sans-serif; */
    margin:0;
}

#mysearch {
    border-radius: 50px;
    padding: 0px;
    padding-left:20px;
    height: 50px;
}
#mybtn {
    background-color: transparent;
    border: 0px;
}
#My_Header{
    background-color: #ffffff;
    margin: 1em 1em;
    color: rgb(25, 57, 138);
}
#Links{
    color:rgb(25, 57, 138);

    /* font-family: 'Exo 2', sans-serif; */
    font-weight: normal;
    padding: 10px;
    font-weight: 400;
    font-family: "Rokkitt", Georgia, serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}
.cnt-account{
    /* background-color: red; */
    float: right;
    font-weight: 400;
    font-family: "Rokkitt", Georgia, serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    color: #000;
}
.search-field{
    background-color: #ffffff;
    outline: none;
    border-radius: 20px;
}
.basket-item-count {
    color: black;
    margin: 1em 0;
    background-color: red;

}
#colorlib-logo {

    display: flex;
    justify-content: flex-start;
    padding: 10px;
    padding-left: 100px;

}
.featured{
    background-image: url('../img/men.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;;
}
.featured2{
    background-image: url('../img/women.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;;
}
.desc{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 80%;
    width: 87%;
    margin: 0 1em;
        font-family: "Rokkitt", Georgia, serif;

}
.desc h2 a{
  color: white;
      font-family: "Rokkitt", Georgia, serif;
}
.pros{
    width: 240px;
    height: 370px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 0;
    margin: 0 1em;
}
.product{
    padding-bottom: 15px;
}
.product .imgae{
  height:200px;
}
.product-image {
    height: 250px;
}
.product-image img{
    width: 100%;
    height: 280px;
}
.products_related{
  height: 100%;
  width:100%;
  text-align: center;
  border: 1px solid #ddd;
  padding: 0;
}
.item.item-carousel {
    margin: 0 2em;
    width: 100%;
    padding-right: 10px;

}
.product-image img {
  height: 100%;
}
.image {
    height: 100%;
}
.products_related{
  margin-right: 100px;
}
.clearfix {
    margin: 1em;
}
#customizedbtn{
  background-color: rgb(25, 57, 138);
  border: 1px solid #ddd;
  color: #fff;
  border-radius: 0;


  /* font-family: 'Exo 2', sans-serif; */
  font-weight: normal;
  padding: 10px;
  font-weight: 400;
  font-family: "Rokkitt", Georgia, serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}
#mybtn1{
  background-color: rgb(25, 57, 138);
  border: 1px solid #ddd;
  color: #fff;
  border-radius: 0;


  /* font-family: 'Exo 2', sans-serif; */
  font-weight: normal;
  padding: 10px;
  font-weight: 400;
  font-family: "Rokkitt", Georgia, serif;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 2px;
}
#mybtn2{
    background-color: rgb(25, 57, 138);
    border: 1px solid #ddd;
    color: #fff;
    border-radius: 0;
    font-weight: normal;
    padding: 10px;
    font-weight: 400;
    font-family: "Rokkitt", Georgia, serif;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
}
#mybtn3{
  background-color: rgb(25, 57, 138);
  border: 1px solid #ddd;
  color: #fff;
  border-radius: 0;
}
.shopping{
    color: rgb(25, 57, 138);
}
.myshadowborder{
    border: 1px solid rgb(25, 57, 138);
}
.shop{
    border: 1px solid #ddd;
    margin-bottom: 1em;
}
.whish {
  color: rgb(25, 57, 138);
  list-style: none;
}
.all_Shop{
  height: 150px;
  width: 100%;
}
.all_Shop button{
  padding:15px;
  margin:1em 0;
  background: rgb(25, 57, 138);
  color: white;
  border:0px;
  width: 150px;

}
.style_gender{
  background-image: url("./img/men.jpg");
  background-size: cover;;
}
.subcategory{
  color:red;
  background-color:rgba(0,0,0,0.6);
  padding:2px;
  width:250px;
  float:left;
  text-align:center;
}
.col-xs-12.col-sm-12.col-md-12.ustomimg {
    height: 100vh;
    width: 100%;
    padding: 0;
}
.counters{
  position: absolute;
  top: 0;
  width: 50px;
  height: 30px;
  background-color: rgba(0,0,0,0.5);
}
.counters p{
  line-height: 30px;
  color: white;
  background-color: rgba(0,0,0,0.5);
}
div#hero {
    height: 100%;
}
div#owl-main {
    height: 100%;
}
.intro {
  font-size: 40px;
font-weight: 700;
font-family: "Montserrat", Arial, sans-serif;
margin: 2.5em 0;
color: black;
}
    .featured .featured-img {
        height: 500px;
        display: block;
        margin-bottom: 20px;
        padding: 2em 1em;
    }
    .featured2 .featured-img {
        height: 500px;
        display: block;
        margin-bottom: 20px;
        padding: 2em 1em;
    }
  .headers h1{
    font-size: 40px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 700;
    color: #000;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  #colorlib-footer{
    margin-top: 10em;
  }
  #colorlib-footer h4 {
    margin-bottom: 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
}
#colorlib-footer .colorlib-footer-links li {
    padding: 0;
    margin: 0 0 10px 0;
    list-style: none;
    display: block;
    text-transform: none;
    font-size: 13px;
    color: #757575;;
}
#colorlib-footer .colorlib-footer-links li a{
  color: #000;
  text-decoration: none;
}
.colorlib-social-icons li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1;
    color: #757575;
}.gototop.active {
    opacity: 1;
    visibility: visible;
}
.gototop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.gototop a i {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
}
#colorlib-footer h4 {
    margin-bottom: 30px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    letter-spacing: 1px;
}
.caption  h1{
    color: WHITE;
}